UserParameter=mongo.20000[*],python /alidata/mongo.py {{eth0ip}} 20000 $1
UserParameter=mongo.21000[*],python /alidata/mongo.py {{eth0ip}} 21000 $1
UserParameter=mongo.22001[*],python /alidata/mongo.py {{eth0ip}} 22001 $1
UserParameter=mongo.22002[*],python /alidata/mongo.py {{eth0ip}} 22002 $1
UserParameter=mongo.22003[*],python /alidata/mongo.py {{eth0ip}} 22003 $1
